# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# IDE/editor config files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS system files
.DS_Store
Thumbs.db

# Logs
*.log

# Test outputs or temp files
*.tmp
*.bak

# Pillow image cache
*.png~

# Backup files
*~
